#carousel-example-generic {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  position: relative;
}

.carousel-inner {
  width: 100%;
  max-height: 500px;

}

.carousel-hook {
  // font-size: 6em;
  font-size: 6vw;
} 
.carousel-hook-secondary {
  // font-size: 3em;
  font-size: 3vw;
}
.slogan {
  // font-size: 1.5em;
  font-size: 2vw;
}

.white-text{
  color: white;
}

.custom-text-overlay {
  position: absolute;
  z-index: 15;
  margin: 0 auto;
  left: 10%;
  right: 10%;
  top: 20%;
  bottom: 33%;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.45);
  border-radius: 15px;
}

@media screen and (max-width: 768px) {
  .custom-text-overlay {
    bottom: 40%;
  }
}

@media screen and (max-width: 360px) {
  .custom-text-overlay {
    bottom: 35%;
  }
}