#nav-container {
	background-color: #6C7A89;
	display: flex;
	flex-direction: row;
	justify-content:flex-end;
	width: 100%;
	height: 50px;
}
.nav-link-logo {
	margin-right:auto;
	position:relative;
	border:1px solid #E87E04;
	align-self:center;
	padding:8px;
	background-color:#E87E04;
	color:#FFFFFF;
}
.nav-link {
	display: inline-block;
    align-self:center;
  	padding:10px;
  	font-size:18px;
 	color:#FFFFFF;
}
.about-me-photos {
	height:125px;
}
.info-list {
	list-style:none;
	font-size:18px;
}
#loginButtonContainer {
	margin-bottom: 10px;
}
.about-title {
	border-top:1px solid #000000;
	padding:15px;
}
.about-info {
	border-bottom:1px solid #000000;
	padding:15px;
}
.info-title {
	border-bottom:1px solid #000000;
}
#information {
	background-color:#ECECEC;
	border-radius:20px;
}
.container-registration {
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	justify-content:space-around;
	border-top:1px solid #000000;
	margin-top:20px;

}
.register-title {
	border:1px solid #000000;
	padding:40px 20px;
	color:#FFFFFF;
	background-color:#000000;
}
.register-btn {
	border:1px solid #336E7B;
	border-radius:30px;
	padding:10px;
	margin-bottom:20px;
	background-color:#336E7B;
	color:#FFFFFF;
	opacity:.9;
}
.register-btn:hover {
	padding:10px 25px;
	opacity:1;
}
.nav-footer-logo {
	border:1px solid #E87E04;
	padding:8px;
	background-color:#E87E04;
	color:#FFFFFF;
	margin-top:20px;
}
.container-footer {
	background-color: #6C7A89;
	display: flex;
	flex-direction: column;
	justify-content:center;
	justify-content:space-around;
	align-items:center;
	width: 100%;
	height:200px;
}
.copyright {
	color:#FFFFFF;
}
.social-media {
	font-size:36px;
	background-color:#ECECEC;
	border-radius:20px;
	padding:10px 20px;
}
.email-us {
	color:#000000;
}
.fb-us {
	color:#4267b2;
}
.t-us {
	color:#1da1f2;
}
.delicious-us {
	color:#E54D42;
}
.stumble-us {
	color:rgb(235, 73, 36);
}
.more-us {
	color:rgb(255, 101, 80);
}
.powered-by-p {
	margin-top:10px;
}
.powered-by-container {
	background-color:#ECECEC;
	width:100%;
}